services:
  mysql:
    image: mysql:8.0
    ports:
      - 3306:3306
    volumes:
      - ./.database:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: youtube-sharing
      MYSQL_TCP_PORT: 3306